<div>
  <% if user_signed_in? %>
    <% if current_user == @user || current_user.admin? %>
      <%= link_to "新規投稿へ", new_product_path %>
      <% @products.each do |t| %>
        <%= link_to "編集する", edit_product_path(t.id) %>
       <% end %>
    <% end %>
  <% end %>
  <div class="product_title">Products</div>
    <% @products.each do |t| %>
      <div class="product">
        <div class="content">
          <div class="product_name"><%= t.name %></div>
          <div><%= simple_format(t.detail) %></div><br>
          <div><%= t.language %></div>
        </div>
        <div class="content">
         <%= image_tag t.image_url, class:'product-image' %><br>
         <%= link_to "作品ページへ", t.site_url, target: :_blank, class:'window' %>
         <%= link_to "GitHubへ", t.github_url, target: :_blank, class:'git' %>
        </div>
      </div>
    <% end %>
  </div>
  <footer>
    <div class="my_link">
      <%= link_to "https://www.instagram.com/bebeko___/", target: :_blank do %>
        <%= image_tag 'instagram.png', class:"image" %>
      <% end %>
      <%= link_to "https://www.facebook.com/ami.osabe.9/", target: :_blank do %>
        <%= image_tag 'facebook.png', class:"image" %>
      <% end %>
      <%= link_to "https://github.com/osabebe", target: :_blank do %>
        <%= image_tag 'https://img.icons8.com/windows/32/000000/github.png' %>
      <% end %>
    </div>
    <div class="footer_name">©︎ 2020 AmiOsabe</div>
  </footer>
</div>