<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="title">ami</div>
      <div>
      <span class="border"><%= link_to "Top", tops_path, class:"link" %>/</span>
      <span class="border"><%= link_to "Products", products_path, class:"link" %>/</span>
      <span class="border"><%= link_to "Articles", class:"link" %>/</span>
      <span class="border"><%= link_to "Profile", profiles_path, class:"link" %>/</span>
      <span><%= link_to "Contacts", class:"link" %></span>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
