<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="body">
      <header class="header">
        <div class="title">ami</div>
        <div>
        <% if user_signed_in? %>
          <% if current_user == @user || current_user.admin? %>
          <span class="border"><%= link_to "Message", contacts_path, class:"link" %>/</span>
          <% end %>
        <% end %>
        <span class="border"><%= link_to "Top", tops_path, class:"link" %>/</span>
        <span class="border"><%= link_to "Products", products_path, class:"link" %>/</span>
        <span class="border"><%= link_to "Articles", articles_path, class:"link" %>/</span>
        <span class="border"><%= link_to "Profile", profiles_path, class:"link" %>/</span>
        <span><%= link_to "Contact", new_contact_path, class:"link" %></span>
        </div>
      </header>
      <%= yield %>
    </div>
  </body>
  
</html>
